<app-search></app-search>
<app-not-found
    [visible]="!books || !books.length"
    notFoundMessage="Nessun elemento trovato!"
    resetLinkText = "Resetta ricerca">
</app-not-found>
<div *ngIf="books.length" class="container">
    <ul>
        <li *ngFor="let book of books">
            <a routerLink="/book/{{book.id}}">
                <img [src]="book.imageUrl" [alt]="book.name" />
                <div class="content">
                    <div class="name">
                        {{book.name}}
                    </div>
                    <br>
                    <div class="info">
                        {{book.author}}
                    </div>
                    <div class="product-item-footer">
                        <div class="price" style="color: green;">
                            <span>€{{book.price}}</span>                            
                        </div>                                      
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>