.container{
    padding: 0.1rem 10% 100% 10%;
    height: 20rem;
    /*border: 1px solid #D74D6D;*/
    border-radius: 1rem;
    margin: 3rem 3rem 3rem 3rem;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

li a{
    height: 28rem;
    width: 13rem;
    border: 1px solid whitesmoke;
    border-radius: 0rem;
    margin: 0.6rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #D74D6D;
}

li a:hover{
    opacity: 0.9;
    cursor: pointer;
}

li a img{
    object-fit: fill;
    height: 14.5rem;
}

.content{
    margin-top: 0.3rem;
    padding: 0.5rem 1rem;
    position: relative;
    height: 100%;
}

.product-item-footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.price{
    position: absolute;
    bottom: 0;
    left: 1rem;
    background: white;
    padding: 0.3rem 100% 0 0;
    color: #414141;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    font-size: 1.1rem
}

.name{
    color: black;
    font-size: 1.5rem;
}

.info{
    color: gray;
    font-size: 1rem;
}

button {
    background-color: white;
    border: none;
    color: #D74D6D
}

.favorite{
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 1.2rem;
}

.favorite.not{
    color: gray;
}