<header>
    <div class="container">
        <a routerLink="/" class="logo">Welcome to Read Shop!</a>
        <nav>
            <ul>                
                <li *ngIf="!isAuth">
                    <a routerLink="/login">Login</a>
                </li>
                <li *ngIf="!isAuth">
                    <a routerLink="/register">Sign in</a>
                </li>
                <li *ngIf="isAuth" class="menu-container">
                    <a routerLink="/profile">{{user.name}}</a>
                    <div class="menu">
                        <a routerLink="/profile">Profilo</a>
                        <a routerLink="/orders">Ordini</a>
                        <a *ngIf="isAdmin" routerLink="/addNewBook">Add Book</a>
                        <a (click)="logout()">Logout</a>
                    </div>
                </li>
                <li>
                    <a routerLink="/cart-page">
                        Carrello <span *ngIf="cartQuantity">{{cartQuantity}}</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
