<header *ngIf="showHeader">
    <div class="container">
        <a routerLink="/" class="logo">READ SHOP</a>
        <nav>
            <ul>                
                <li *ngIf="!isAuth">
                    <a routerLink="/login">Login</a>
                </li>
                <li *ngIf="!isAuth">
                    <a routerLink="/register">Registrati</a>
                </li>
                <li *ngIf="isAdmin" class="menu-container">
                    <a routerLink="/dashboard">Admin dashboard</a>
                </li>
                <li *ngIf="isAuth" class="menu-container">
                    <a class="profile" routerLink="/profile">{{user.name}}</a>
                    <div class="menu">
                        <a routerLink="/profile">Profilo</a>
                        <a routerLink="/orders">Ordini</a>
                        <a (click)="logout()">Logout</a>
                    </div>
                </li>
                <li>
                    <a routerLink="/cart-page">
                        Carrello <span *ngIf="cartQuantity">{{cartQuantity}}</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
