.container{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 1.5rem;
    margin-top: 0.5rem;
}

ul{
    display: flex;
    flex-direction: column;
    flex: 3 0;
    justify-content: space-evenly;
    border: 1px solid #D74D6D;
    border-radius: 1rem;
    list-style: none;
    margin: 0.5rem;
    padding: 0;
}

ul li{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #e4e4e4;
}

ul li:last-child{
    border: none;
}

li img{
    width: 4rem;
    height: 5rem;
    object-fit: fill;
    border-radius: 0rem;
}

li div{
    padding: 1rem;
}

li div:not(:first-child){
    flex-basis: 18%;
}

li select{
    width: 3rem;
    border-radius: 1px;
    outline: none;
    border: none;
    border-bottom: 1px solid lightgray;
    font-size: 1.1rem;
    font-weight: 50;
}

li .remove-button{
    border-radius: 1rem;
    border: none;
    padding: 0.5rem;
    color: #D74D6D;
    opacity: 0.7;
    outline: none;
}

li .remove-button:hover{
    opacity: 1;
    cursor: pointer;
}

.checkout{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1 3;
    height: 20rem;
    border: 1px solid #D74D6D;
    border-radius: 1rem;
    padding: 0.5rem;
    margin: 0.5rem;
}

.checkout > div{
    font-size: 1.4rem;
    margin: 1rem;
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.books-count{
    margin-bottom: 1.5rem;
}

.books-count::before{
    content: "Libri: ";
    color: grey;
}

.total-price::before{
    content: "Prezzo: ";
    color: gray;
}

.checkout a{
    padding: 1rem;
    color: white;
    background: #6DD64C;
    display: block;
    width: 99%;
    border-radius: 1rem;
    text-align: center;
    opacity: 0.7;
    justify-self: center;
}

.checkout a:hover{
    opacity: 1;
    cursor: pointer;
}

.check1{
    background-color: #0079C1 !important;
}
