<app-title title="Cart Page" margin="1rem 0 1rem 0.2rem"></app-title>
<app-not-found
    [visible]="!cart || !cart.items.length"
    notFoundMessage="Il carrello è vuoto!"
    resetLinkText="Torna alla Homepage"
></app-not-found>
<div *ngIf="cart && cart.items.length" class="container">
    <ul>
        <li *ngFor="let cartItem of cart.items">
            <div>
                <img [src]="cartItem.book.imageUrl" [alt]="cartItem.book.name"/>
            </div>
            <div>
                <a routerLink="/book/{{cartItem.book.id}}">
                    {{cartItem.book.name}}
                </a>
            </div>
            <div>
                <select #quantitySelect
                    [value]="cartItem.quantity"
                    (change)="changeQuantity(cartItem, quantitySelect.value)">                
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div>
                €{{cartItem.price}}
            </div>

            <div>
                <button class="remove-button" (click)="removeFromCart(cartItem)">
                    Remove
                </button>
            </div>
        </li>
    </ul>
    <div class="checkout">
        <div>
            <div class="books-count">{{cart.totalCount}}</div>
            <div class="total-price">€{{cart.totalPrice}}</div>
        </div>
        <a routerLink="/">Continua ad acquistare</a>
        <br>
        <br>
        <a class="check1" routerLink="/checkout">Procedi al checkout</a>
    </div>
</div>
