<app-not-found
    [visible]="!book"
    notFoundMessage="Book not Found!"
    resetLinkText="Back to Homepage"
></app-not-found>
<div *ngIf="book" class="container">
    <img [src]="book.imageUrl" [alt]="book.name" />

    <div class="details">
        <div class="header">
            <span class="name">
                {{book.name}}
            </span>
            <span class="favorite {{book.favorite?'':'not'}}">
                ❤
            </span>
            
        </div>
        <div class="description">
            {{book.description}}
        </div>
        <div class="price">
            <span>€{{book.price}}</span>
        </div>
        <button (click)="addToCart()">Aggiungi al carrello</button>
    </div>

</div>