<app-not-found
    [visible]="!book"
    notFoundMessage="Libro non trovato!"
    resetLinkText="Ritorna alla Home"
></app-not-found>
<div *ngIf="book" class="container">
    <img [src]="book.imageUrl" [alt]="book.name" />

    <div class="details">
        <div class="header">
            <span class="name">
                {{book.name}}
            </span>
            
            <span class="favorite {{book.favorite?'':'not'}}">
                ❤
            </span>
        </div>
        <br>
        <span class="info">
            Autore: {{book.author}}
        </span>
        <br>
        <span class="info">
            Genere: {{book.genre}}
        </span>
        <br>
        <span class="info">
            Anno di rilascio: {{book.releaseYear}}
        </span>
        <br>
        <span class="info">
            ISBN: {{book.ISBN}}
        </span>
        <br>
        <div class="info">
            Descrizione: {{book.description}}
        </div>
        <div class="price">
            <span>€{{book.price}}</span>
        </div>
        <button (click)="addToCart()">Aggiungi al carrello</button>
    </div>

</div>