table {
  border-collapse: collapse;
  width: 99%;
  margin-top: 2rem;
}

.table-container::-webkit-scrollbar {
  -webkit-appearance: none;
}

.table-container::-webkit-scrollbar:horizontal {
  height: 12px;
}

.table-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .5);
  border-radius: 10px;
  border: 2px solid #ffffff;
}

.table-container::-webkit-scrollbar-track {
  border-radius: 10px;  
  background-color: #ffffff; 
}

td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
  font-size: small;
}

.firstRow {
  background-color: #D22B2B;
}

button {
  color: #D22B2B;
  border: 0;
  background-color: white;
  font-size: 25px;
  margin-bottom: 1rem;
}

.btn {
  text-align: center;
}

img{
  width: 3rem;
  height: 3rem;
  object-fit: fill;
}

.editForm {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.editForm > div {
  margin-bottom: 10px;
}

input {
  width: 500px;
  height: 40px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.description {
  height: 80px;
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
}

.icons button {
  margin-right: 10px;
  font-size: 30px;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.icons .btn-save {
  background-color: #6DD64C;
  color: white;
}

label {
  font-weight: bold;
  margin-right: 10px;
}
