<div class="header">
    <div class="container">
      <nav>
        <ul>
          <li>
            <a routerLink="/">Home Page</a>
          </li>
          <li>
            <a [style.color]="contentPage === 1 ? '#D22B2B' : 'black'" (click)="submit(ORDERS)">Ordini</a>
          </li>
          <li>
            <a [style.color]="contentPage === 2 ? '#D22B2B' : 'black'" (click)="submit(USERS)">Utenti</a>
          </li>
          <li>
            <a [style.color]="contentPage === 3 ? '#D22B2B' : 'black'" (click)="submit(BOOKS)">Libri</a>
          </li>
          <li>
            <a [style.color]="contentPage === 4 ? '#D22B2B' : 'black'" (click)="submit(ADD_NEW_BOOK)">Aggiungi libro</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  
  <div class="content">
    <div *ngIf="contentPage==1">
      <app-title title="Gestione Ordini"></app-title>
      <admin-orders></admin-orders>
    </div>
    <div *ngIf="contentPage==2">
      <app-title title="Gestione Utenti"></app-title>
      <admin-users-page></admin-users-page>
    </div>
    <div *ngIf="contentPage==3">
      <app-title title="Gestione Libri"></app-title>
      <button mat-button color="primary" class="add-button" (click)="submit(4)">+</button>
      <admin-books-page></admin-books-page>
    </div>
    <div *ngIf="contentPage==4">
        <app-title title="Aggiungi un nuovo libro"></app-title>
        <app-add-new-book-page></app-add-new-book-page>
    </div>
  </div>