<div class="container">
    <div class="details">
      <app-title title="Aggiungi un nuovo Libro"></app-title>
      <form [formGroup]="registerForm" (ngSubmit)="submit()">
            <text-input
                [control]="fc.name"
                [showErrorsWhen]="isSubmitted"
                label="Nome libro">
            `</text-input>
        
            <text-input
                [control]="fc.price"
                [showErrorsWhen]="isSubmitted"
                label="Prezzo">
            `</text-input>
        
        
            <text-input
                [control]="fc.author"
                [showErrorsWhen]="isSubmitted"
                label="Autore">
            `</text-input>
        
            <text-input
                [control]="fc.genre"
                [showErrorsWhen]="isSubmitted"
                label="Genere">
            `</text-input>
            
            <text-input
                [control]="fc.description"
                [showErrorsWhen]="isSubmitted"
                label="Descrizione">
            `</text-input>

            <text-input
                [control]="fc.ISBN"
                [showErrorsWhen]="isSubmitted"
                label="ISBN">
            `</text-input>
            
            <text-input
                [control]="fc.releaseYear"
                [showErrorsWhen]="isSubmitted"
                label="Anno di rilascio">
            `</text-input>

            <text-input
                [control]="fc.favorite"
                [showErrorsWhen]="isSubmitted"
                label="Preferito">
            `</text-input>

            <text-input
                [control]="fc.imageUrl"
                [showErrorsWhen]="isSubmitted"
                label="url immagine">
            `</text-input>
            <default-button text="Aggiungi"></default-button>
      </form>
    </div>
  </div>